{% extends parent_template|default:"nutr/base_nutr.html" %}

{% block title %}
{{ block.super }} - Update POC
{% endblock %}

{% block nutr_content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      <form
          enctype="multipart/form-data"
          action="{{ poc.get_update_url }}"
          method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{{ poc.get_absolute_url }}" class="button button-primary"> Cancel</a>
        <button tabindex=18
            class="button-primary"
            type="submit">
          Update</button>
      </form>
    </div>
  </div>
{% endblock %}
