{% extends parent_template|default:"nutr/base_nutr.html" %}

{% block title %}
{{ tag.name|title }}
{% endblock %}

{% block nutr_content %}
<head><title>{{ tag.name|truncatechars:20 }}</title></head>
<body>
  <div>
  <h3>{{ tag.name|title }}</h3>
  <img height="60" width="96" src="http://res.cloudinary.com/hh9sjfv1s/image/upload/{{ tag.image }}" alt="(missing photo)">
  <div>
    <!--
    <ul>
        <li> <a href="{{ tag.get_update_url }}"> Edit</a></li>
        <li> <a href="{{ tag.get_delete_url }}"> Delete</a></li>

    </ul>
    -->
  {% if tag.poc_set.all %}
    <section>
        <p>
        {{ tag.name }} is associated with
        {{ tag.poc_set.count }}
        Possible Political Prisoner(s).
        </p>
        {% if tag.petition %}
            <p><a href="{{ tag.petition }}"> Sign the Petition </a></p>
        {% endif %}
        <table  table-layout: fixed;>
        {# for poc in tag.poc_set.all|dictsort:"name" #}
        {% for poc in all_poc|dictsort:"name" %}
          {% if forloop.first %}
            <tr>
          {% endif %}
                   <td><div><a href="{{ poc.get_absolute_url }}"> <img width="200" src="http://res.cloudinary.com/hh9sjfv1s/image/upload/{{ poc.image }}" alt="(missing photo)">{{ poc.id }} {{ poc.name }} </a></div><div>{{ poc.charge|slice:"0:24" }}</div><div>{{ poc.charge|slice:"24:48" }}</div><div>{{ poc.charge|slice:"48:72"}}</div> <div>{{ poc.get_status_display }}</div></td>
         
          {% if forloop.last %}
            </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"4" %}
              </tr><tr>
            {% endif %}
          {% endif %}
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if all_poc.has_previous %}
                    <a href="?page={{ all_poc.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ all_poc.number }} of {{ all_poc.paginator.num_pages }}
                </span>

                {% if all_poc.has_next %}
                    <a href="?page={{ all_poc.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

        </table>
    </section>
  {% endif %}
  {% if not tag.poc_set.all and not tag.blog_posts.all %}
    <p>This country has no known political prisoners.</p>
  {% endif %}
</body>
{% endblock %}
